.notification {
  .notice {
    background-color: #38AEF0;
    color: white;
    text-align: center;
  }

  .alert {
    background-color: #ff6700;
    background-color: #f35500;
    color: white;
    text-align: center;
  }
}